<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Sap</title>
</head>

<body>
<h1>Relatorios</h1>
<form id="excluir_turmaform" method="post" action="/sap/acessar_relatorios/">
    {% csrf_token %}
    {{ relatorio_form.as_p }}

    <input type="submit" name="submit" value="Selecionar" />
</form>
{% if relatorio_form %}
    Professor responsavel  {{ professor}} </br>
    Turma: {{ turma }} </br>
    Alunos: </br>
    {% for matriculados in matriculados  %}
             {{ matriculados }} </br>
    {% endfor %}



{% endif %}


</body>

</html>