<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1> Adicionar diciplina </h1>
<form id="diciplina_form" method="post" action="/sap/adicionar_diciplina/">
        {% csrf_token %}
        {{ diciplina_form }}
    <input type="submit" name="submit" value="Adicionar" />
</form>


</body>
</html>