<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1> Adicionar diciplina </h1>
<form id="form" method="post" action="/sap/adicionar_disciplina_aluno/">
        {% csrf_token %}
        {{ form }}
    <input type="submit" name="submit" value="Adicionar" />
</form>


</body>
</html>