
{% extends 'sap/base_professor.html' %}

{% block body_block %}


    <h3 class="text-left text-info">
        Adicionar/Remover pergunta</h3>
    {% if adicionadas or excluidas or sem_selecao or vazio %}
        {% if adicionadas %}
            <label> Questões adicionadas: </label>:
            {% for x in adicionadas %}
                <p>{{ x }}</p></br>
                <hr>
            {% endfor %}
        {% endif %}
        </br>
        {% if excluidas %}
            <label> Questões excluidas: </label>:
            {% for x in excluidas %}
                <p>{{ x }}</p></br>
                <hr>
            {% endfor %}
        {% endif %}
        {% if sem_selecao %}
            <p>{{ sem_selecao }}</p>
        {% endif %}
        {% if vazio %}
            <p>{{ vazio }}</p>
        {% endif %}

    {% else %}
        <form id="form" method="post" action="/sap/adicionar_remover_pergunta/{{ avaliacao }}">
            {% csrf_token %}
            <label>Selecione as perguntas que deseja adicionar</label>
            </br>
            {% if questoes_nao_inclusas %}
                {% for x in questoes_nao_inclusas  %}
                    <input id="checkbox{{forloop.counter}}" type="checkbox" name="adicionar" autocomplete="off" value={{ x.id }}> {{ x.enunciado }} -{{ x.tipo }} </br>
                    <label style="display: none" id="peso{{forloop.counter}}" >Peso:</label>
                    <input style="display: none" id="peso{{forloop.counter}}" min="0.1" max="100" step="0.1"  type="number" name="peso" autocomplete="off" value= "">
                    <label style="display: none" id="ordem{{forloop.counter}}" >Ordem:</label>
                    <input style="display: none" id="ordem{{forloop.counter}}" min="1" max="100" step="1" type="number" name="ordem" autocomplete="off" value= "">
                    <script>
                        $( "#checkbox{{forloop.counter}}" ).change(function() {
                            if ($(this).is(":checked")) {
                                $("#peso{{forloop.counter}}, #ordem{{forloop.counter}} ")
                                        .show("slow").prop("disabled", false).attr('value', 1);
                                var t = false
                                $('#peso{{forloop.counter}}').focus(function () {
                                    var $this = $(this)
                                    t = setInterval(
                                            function () {
                                                if (($this.val() < 1 || $this.val() > 100) && $this.val().length != 0) {
                                                    if ($this.val() < 1) {
                                                        $this.val(1)
                                                    }
                                                    if ($this.val() > 100) {
                                                        $this.val(100)
                                                    }
                                                    $('p').fadeIn(1000, function () {
                                                        $(this).fadeOut(500)
                                                    })
                                                }
                                            }, 50)
                                })
                                window.onunload = function(){};
                                $('#peso{{forloop.counter}}').blur(function () {
                                    if (t != false) {
                                        window.clearInterval(t)
                                        t = false;
                                    }
                                })
                            }
                            else
                                $(  "#peso{{forloop.counter}}, #ordem{{forloop.counter}}" ).hide( "slow").attr('value', "").attr( "disabled", true);
                        });
                    </script>
                    <hr>
                {% endfor %}
            {% else %}
                Não existem questões disponiveis.
            {% endif %}
            </br>

            <label>Selecione as perguntas que deseja remover</label>
            </br>
            {% if questoes_inclusas %}

                <table class="table table-bordered" >
                    <thead>
                    <tr>
                        <td><label> Enunciado </label></td>
                        <td><label> Tipo </label></td>
                        <td><label> Ordem </label></td>
                        <td><label> Peso </label></td>
                    </tr>
                    </thead>
                    {% for x in questoes_inclusas %}
                        <tr>
                            <td><input id={{ x.questao.id }} type="checkbox" name="excluir" autocomplete="off" value={{ x.questao.id }}> {{ x.questao }}</td>
                            <td>{{ x.questao.tipo }}</td>
                            <td>{{ x.ordem }}</td>
                            <td>{{ x.peso }} </td>
                        </tr>
                    {% endfor %}
                </table>

            {% else %}
                Não existem questões disponiveis.
            {% endif %}
            </br>



            <input type="submit" name="submit" value="Selecionar" />
        </form>
    {% endif %}
{% endblock body_block %}