{% extends 'sap/base_professor.html' %}

{% block body_block %}

    <h3 class="text-left text-info">
        Alterar dados da avaliação</h3>

    {% if sucesso %}
        {{ sucesso }}
    {% elif falha %}
        {{ falha }}
    {% elif vazio %}
        {{ vazio }}
    {% elif data_invalida %}
        {{ data_invalida }}
    {% else %}
        <label>Avaliação sendo alterada:</label> {{ avaliacao.nome }}
        {% if form %}
            <form id="alterar_dados_avaliacao" method="post" action="/sap/alterar_dados_avaliacao/{{ avaliacao.id }}" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table th">
                {{ form.as_table }}
                </table>
                {% if avaliacao.imagem %}
                    Imagem atual:<br>
                    <img src="/media/{{ avaliacao.imagem }}"  />
                    <br><br>
                    <input type="submit" class="btn btn-default" name="deletar" value="Deletar" /> <br>
                    <hr>
                {% endif %}
                <input type="hidden" name= "avaliacao_escolhida" value= {{ avaliacao }}>
                <input type="submit" class="btn btn-default" name="submit" value="Salvar Alterações" />
            </form>
        {% endif %}
    {% endif %}
{% endblock body_block %}

