{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "js/jquery.datetimepicker.css"%}"/>
    <script src="{% static "js/jquery-1.11.3.js" %}"></script>
    <script src="{% static "js/base.js"%}"></script>
    <script src="{% static "js/jquery.js"%}"></script>
    <script src="{% static "js/build/jquery.datetimepicker.full.min.js"%}"></script>
</head>
<body>
<h1> Aplicar avaliacao</h1>
    <form id="turma_has_avaliacaoform" method="post" action="/sap/aplicar_avaliacao/">
    {% csrf_token %}
    {{ turma_has_avaliacaoform.as_p }}

    <input type="submit" name="submit" value="Adicionar">

</form>
</body>

</html>