
<!DOCTYPE html>
{% load staticfiles %}
{% load index %}


<script src="{% static "js/jquery-1.11.3.js" %}"></script>
<script src="{% static "js/rango-ajax.js" %}"></script>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" ="">

    <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%  static 'css/dashboard.css' %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.11.3.js" %}"></script>
    <script src="{% static "js/base.js"%}"></script>
    <script src="{% static "js/jquery.countdown.js"%}"></script>
    <script src="{% static "js/countdown2.js"%}"></script>
    <script src="{% static "js/serverDate.js"%}"></script>



    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>




<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <span class="navbar-brand" id="clock"></span>

                {% if numero_de_questoes %}

                    <script>
                        $('#clock').countdown('{{ data_fim }}', function(event) {
                            if (event.strftime('%d') != '00') {
                                $(this).html(event.strftime('Tempo restante: Dias - %d  Horas - %Hh:%Mm:%S'));
                                var currentdate = new Date();
                                if (event.strftime('%d %H:%M:%S') == '0 00:00:00' ){
                                    enviar_fFunction()
                                }
                                }
                            else {
                                $(this).html(event.strftime('Tempo restante: %Hh:%Mm:%S'));
                                var currentdate = new Date();
                                if (event.strftime('%H:%M:%S') == '00:00:00' ){
                                    enviar_fFunction()
                                }
                                }
                        });
                    </script>
                    <script>
                        function enviarFunction() {
                            document.getElementById("enviar").submit();
                        };
                        function enviar_cFunction() {
                            document.getElementById("enviar_c").submit();
                        };
                        function enviar_fFunction() {
                            document.getElementById("enviar_f").submit();
                        };
                    </script>
                {% endif %}



            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-list">


                {% for x in questoes %}
                    <br> Questão {{ forloop.counter }}:
                    {% if respostas|index:forloop.counter0 %}
                        <label> Respondida </label>
                    {% else %}
                        <label> Não respondida </label>
                    {% endif %}
                {% endfor %}
                {% if questoes %}
                <hr>
                <div align="center">
                    <form id="enviar" method="post" action="/sap/avaliacao/">
                        {% csrf_token %}
                        <input type="hidden" name= "enviar" value= "enviar">
                        <input type="hidden" name= "avaliacao" value= {{ avaliacao }}>
                        <input type="button" onclick="enviarFunction()" name= "enviar" value="Enviar" />

                    </form>
                    <form id="enviar_f" method="post" action="/sap/avaliacao/">
                        <hr>
                        {% csrf_token %}
                        <input type="hidden" name= "enviar_confirmacao" value= "enviar_confirmacao">
                        <input type="hidden" name= "avaliacao" value= {{ avaliacao }}>
                    </form>
                </div>
                {% endif %}
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div>
                <h3 class="text-left text-info">{{ nome_avaliacao }}</h3>

                {% if falha %}
                    {{ falha }}

                {% elif confirmacao %}
                    {{ confirmacao }}
                    <form id="enviar_c" method="post" action="/sap/avaliacao/">
                        <hr>
                        {% csrf_token %}
                        <input type=button value="Retornar" onClick="javascript:history.go(-1);">
                        <input type="hidden" name= "avaliacao" value= {{ avaliacao }}>
                        <input type="hidden" name= "enviar_confirmacao" value= "enviar_confirmacao">
                        <input type="button" onclick="enviar_cFunction()" name= "enviar_c" value="Enviar" />
                    </form>

                {% elif numero_de_questoes %}
{#                    </script>#}
{#                    Days Remaining:#}
{#                    <div id="daysBox"></div>#}
{#                    Hours Remaining:#}
{#                    <div id="hoursBox"></div>#}
{#                    Minutes Remaining:#}
{#                    <div id="minsBox"></div>#}
{#                    Seconds Remaining:#}
{#                    <div id="secsBox"></div>#}
{#                    <script>cdtd();</script>#}
                    <label>Inicio: </label> {{ nome_avaliacao.data_hora_inicio }} - <label>Fim:</label> {{ nome_avaliacao.data_hora_fim }}<br>
                    <label>Disciplina:</label> {{ nome_avaliacao.disciplina }} - <label>Professor:</label> {{ nome_avaliacao.professor }}
                    {% if nome_avaliacao.imagem %}
                        <label>Imagem: </label> </br>
                        <img src="/media/{{ nome_avaliacao.imagem }}"  />
                    {% endif %}
                    <h5>Questões:</h5>
                    <hr>
                    {% for x in questoes %}
                        {% if x.questao.tipo_id == 1 %}
                            <form id="{{ x.questao.id }}" method="post" action="/sap/avaliacao/">
                                {% csrf_token %}
                                <p><label>{{ forloop.counter }}</label> - {{ x.questao.enunciado }} </p> </br>
                                {% if x.questao.imagem %}
                                    <label>Imagem: </label> </br>
                                    <img src="/media/{{ x.questao.imagem }}"  /> </br>
                                {% endif %}
                                <label>Resposta:</label><br>
                                <textarea cols="80" name="resposta" rows="5"> {{ respostas|index:forloop.counter0  }}</textarea>
                                <br>
                                <input type="hidden" name= "questao_avaliacao" value= {{ x.id }}>
                                <input type="hidden" name= "avaliacao" value= {{ avaliacao }}>
                                <p>Peso: {{ x.peso }} - <input type="submit" name="resposta_dissertativa" value="Salvar" onclick="my_scroll('/sap/avaliacao/'); return false"/> </p>

                            </form>
                            <hr>

                        {% elif x.questao.tipo_id == 2 %}

                            <form id="{{ x.questao.id }}" method="post" action="/sap/avaliacao/">
                                {% csrf_token %}
                                <p><label>{{ forloop.counter }}</label> - {{ x.questao.enunciado }}</p> </br>
                                {% if d.questao.imagem %}
                                    <label>Imagem: </label> </br>
                                    <img src="/media/{{ x.questao.imagem }}"  /> </br>
                                {% endif %}
                                <label>Resposta:</label><br>
                                <input type="radio" name="resposta" value="A" {% if respostas|index:forloop.counter0 == 'A' %} checked {% endif %}> A- {{ x.questao.a }}<br>
                                <input type="radio" name="resposta" value="B" {% if respostas|index:forloop.counter0 == 'B' %} checked {% endif %}> B- {{ x.questao.b }}<br>
                                <input type="radio" name="resposta" value="C" {% if respostas|index:forloop.counter0 == 'C' %} checked {% endif %}> C- {{ x.questao.c }}<br>
                                <input type="radio" name="resposta" value="D" {% if respostas|index:forloop.counter0 == 'D' %} checked {% endif %}> D- {{ x.questao.d }}<br>
                                <input type="radio" name="resposta" value="E" {% if respostas|index:forloop.counter0 == 'E' %} checked {% endif %}> E- {{ x.questao.e }}<br>
                                <br>
                                <input type="hidden" name= "questao_avaliacao_me" value= {{ x.questao.id }}>
                                <input type="hidden" name= "questao_avaliacao" value= {{ x.id }}>
                                <input type="hidden" name= "avaliacao" value= {{ avaliacao }}>
                                <p>Peso: {{ x.peso }} - <input type="submit" name= "resposta_multipla_escolha" value="Salvar"  onclick="my_scroll('/sap/avaliacao/'); return false"/></p>
                            </form>
                            <hr>

                        {% elif x.questao.tipo_id == 3 %}

                            <form id="{{ x.questao.id }}" method="post" action="/sap/avaliacao/">
                                {% csrf_token %}
                                <p><label>{{ forloop.counter }}</label> - {{ x.questao.enunciado }}</p> </br>
                                {% if d.questao.imagem %}
                                    <label>Imagem: </label> </br>
                                    <img src="/media/{{ x.questao.imagem }}"  /> </br>
                                {% endif %}
                                <label>Resposta:</label><br>
                                <input type="radio" name="resposta" value="V" {% if respostas|index:forloop.counter0 == 'V' %} checked {% endif %}> Verdadeiro <br>
                                <input type="radio" name="resposta" value="F" {% if respostas|index:forloop.counter0 == 'F' %} checked {% endif %}> Falso<br>
                                <br>
                                <input type="hidden" name= "questao_avaliacao_vf" value= {{ x.questao.id }}>
                                <input type="hidden" name= "questao_avaliacao" value= {{ x.id }}>
                                <input type="hidden" name= "avaliacao" value= {{ avaliacao }}>
                                <p>Peso: {{ x.peso }} - <input type="submit" name= "resposta_verdadeiro_falso" value="Salvar" onclick="my_scroll('/sap/avaliacao/'); return false"/></p>
                            </form>
                            <hr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <form id="avaliacao" method="post" action="/sap/avaliacao/">
                        {% csrf_token %}
                        <h1>ATENÇÃO!</h1>
                        <p> Após essa etapa a avaliação se iniciará e você não poderá retornar.</p>
                        <p> Lembre-se de sempre salvar logo após responder cada questão. Assim você poderá continuar a avaliação caso saia do sistema.</p>
                        <p> <label> Após clicar em ENVIAR a avaliação ficará indisponivel para você! </label></p>
                        <input type="hidden" name= "avaliacao" value= {{ avaliacao }}>
                        <input type="submit" name="submit" value="Iniciar avaliação" /> <br><br>
                        <input type=button value="Retornar" onClick="javascript:history.go(-1);">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<script src="{% static "js/jquery-1.11.3.js" %}"></script>
<script src="{% static "js/base.js"%}"></script>
<script src="{% static "js/jquery.countdown.js"%}"></script>
<script src="{% static "js/maintainscroll.jquery.min.js" %}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>



</body>
</html>