<!DOCTYPE html>

{% load staticfiles %}



<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" ="">
    <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%  static 'css/dashboard.css' %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.11.3.js" %}"></script>
    <script src="{% static "js/jquery.validate.min.js"%}"></script>
    <script src="{% static "js/jquery.validate.js"%}"></script>
    <script src="{% static "js/serverDate.js"%}"></script>




    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href="/sap/index_professor/">Home </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <a href="/sap/logout/">Sair</a>
                </li>


            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% block side_block %}
                <ul class="nav nav-list">
                    <li>
                        <a href="/sap/criar_dissertativa/">Criar questão dissertativa</a>
                    </li>
                    <li>
                        <a href="/sap/criar_multipla_escolha/">Criar questão de multipla-escolha</a>
                    </li>
                    <li>
                        <a href="/sap/criar_verdadeiro_falso/">Criar questão de Verdadeiro ou Falso</a>
                    </li>
                    <li>
                        <a href="/sap/editar_questao/">Editar questão</a>
                    </li>
                    <li>
                        <a href="/sap/excluir_questao/">Excluir questão</a>
                    </li>
                    <hr>
                    <li >
                        <a href="/sap/criar_avaliacao/">Criar avaliação</a>
                    </li>
                    <li >
                        <a href="/sap/vizualizar_avaliacao/">Visualizar avaliação</a>
                    </li>
                    <li >
                        <a href="/sap/visualizar_gabarito/">Visualizar gabarito</a>
                    </li>
                    <li >
                        <a href="/sap/editar_avaliacao/">Editar avaliação</a>
                    </li>
                    <li >
                        <a href="/sap/reaplicar_avaliacao/">Reaplicar avaliação</a>
                    </li>
                    <li >
                        <a href="/sap/excluir_avaliacao/">Excluir avaliação</a>
                    </li>
                    <li >
                        <a href="/sap/corrigir_avaliacao/">Corrigir avaliação</a>
                    </li>
                    <hr>
                    <li >
                        <a href="/sap/relatorio_professor/">Relatórios</a>
                    </li>

                </ul>

            {% endblock %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div>
                {% block body_block %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
{#<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>#}
<link rel="stylesheet" type="text/css" href="{% static "js/jquery.datetimepicker.css"%}"/>
<script src="{% static "js/jquery-1.11.3.js" %}"></script>
<script src="{% static "js/jquery.timepicker.js"%}"></script>
<script src="{% static "js/jquery.timepicker.min.js"%}"></script>
<script src="{% static "js/base.js"%}"></script>
<script src="{% static "js/jquery.js"%}"></script>
<script src="{% static "js/jqueryval.min.js"%}"></script>
<script src="{% static "js/build/jquery.datetimepicker.full.min.js"%}"></script>



<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>#}
</body>
</html>