{% extends 'sap/base_professor.html' %}
{% load index %}

{% block body_block %}
    <h3 class="text-left text-info">
        Corrigir avaliação</h3>
    {% if sucess %}
        {{ sucess }}
    {% elif falha %}
        {{ falha }}
    {% else %}
        {% if respostas_aluno %}
            <form id="pontuacao" method="post" action="/sap/correcao_questao/{{ avaliacao }}">
                {% csrf_token %}
                {% if avaliacao_questao.questao.imagem %}
                    <label>Imagem: </label> </br>
                    <img src="/media/{{ avaliacao_questao.questao.imagem }}"  /> </br>
                {% endif %}
                <label>Enunciado: </label> </br>
                    {{ avaliacao_questao }} </br>
                <label>Resposta correta: </label> </br>
                    {{ avaliacao_questao.questao.resposta_correta }}<br>
                <label>Peso: </label>
                    {{ avaliacao_questao.peso }}
                <hr>
                <label>Respostas:</label> <br>

                {% for x in respostas_aluno %}
                    Aluno: {{ x.aluno }} <br>
                    Resposta: {{ x }} </br>
                    Pontuação:
                    <input type="number" style="width:60px" id="{{ x.id }}" step="0.1" name="pontuacao" min="0" max={{ avaliacao_questao.peso|virgula }} value={{ x.pontuacao|virgula }}>
                    <input type="hidden" name= "aluno_id" value={{ x.aluno.id }}>
                    <input type="hidden" name= "resposta_id" value={{ x.id }}>
                    <hr>
                {% endfor %}
                <input type="hidden" name= "avaliacao" value= {{ avaliacao }}>
                <input type="submit" name="submit" value="Corrigir" />
            </form>
        {% else %}
            <p> Correção por questão: </p>
            </br>
            <form id="corrigir_avaliacao_questao" method="post" action="/sap/correcao_questao/{{ avaliacao }}">
                {% csrf_token %}

                {% for d in questoes %}
                    <input type="radio" name="questao" value="{{ d.id }}"> {{ d.enunciado}} <hr>
                {% endfor %}

                <input type="hidden" name= "x" value=0>
                <input type="hidden" name= "avaliacao" value= {{ avaliacao }}>
                <input type="submit" name="submit" value="Selecionar" class="btn btn-default"/>
            </form>


        {% endif %}
    {% endif %}
{% endblock body_block %}