{% extends 'sap/base_professor.html' %}
{% load index %}
{% block body_block %}
    {{ sucess }}
    <h3 class="text-left text-info">
        Corrigir avaliação.</h3>
    {% if falha1 %}
        {{ falha1 }}
    {% else %}
        {% if falha %}
            {{ falha }}
        {% elif respostas_aluno %}
            <form id="pontuacao" method="post" action="/sap/correcao_aluno/{{ avaliacao }}">
                {% csrf_token %}
                {% for d in avaliacao_questao %}
                    {% if d.questao.tipo_id == 1 %}
                        {% if d.questao.imagem %}
                            <label>Imagem: </label> </br>
                                <img src="/media/{{ d.questao.imagem }}"  /> </br>
                        {% endif %}
                        <label>Enunciado: </label> </br>
                        {{ d }} </br>
                        <label>Resposta correta: </label> </br>
                        {{ d.questao.resposta_correta }}<br>
                        <label>Resposta do aluno: </label><br>
                        {{ respostas_aluno|index:forloop.counter0  }}<br>
                        <label>Peso: </label>
                        {{ d.peso }} <br>
                        Pontuação:

                        <input type="number" style="width:60px" id="{{ respostas_aluno_id|index:forloop.counter0  }}" step="0.1" name="pontuacao"  min="0" max={{ d.peso|virgula }} value={{ respostas_aluno_pontuacao|index:forloop.counter0|virgula }}>
                        <input type="hidden" name= "resposta_id" value={{ respostas_aluno_id|index:forloop.counter0  }}>
                        <hr>
                    {% endif %}
                {% endfor %}
                <input type="hidden" name= "aluno_id" value={{ aluno_id }}>
                <input type="hidden" name= "avaliacao" value= {{ avaliacao }}>
                <input type="submit" name="submit" value="Corrigir" />
            </form>
        {% elif alunos %}
            <p> Correção por aluno: </p>
            </br>
            <form id="corrigir_avaliacao2" method="post" action="/sap/correcao_aluno/{{ avaliacao }}">
                {% csrf_token %}

                {% for d in alunos %}
                    <input type="radio" name="aluno_id" value="{{ d.aluno.id }}"> {{ d.aluno }} <hr>
                {% endfor %}

                <input type="hidden" name= "avaliacao" value= {{ avaliacao }}>
                <input type="submit" name="submit" value="Selecionar" class="btn btn-default"/>

            </form>
        {% endif %}
    {% endif %}
{% endblock body_block %}