{% extends 'sap/base_professor.html' %}
{% block body_block %}
    <h3 class="text-left text-info">
        Corrigir avaliação</h3>
    {% if falha %}
        {{ falha }}
    {% else %}

        {% if avaliacao_escolhida %}
            <strong>O que deseja fazer?</strong>
            <li>
                <a href="/sap/correcao_questao/{{ avaliacao_escolhida }}">Corrigir avaliação por questão.</a>
            </li>
            <li>
                <a href="/sap/correcao_aluno/{{ avaliacao_escolhida }}">Corrigir avaliação por aluno.</a>
            </li>

        {% else %}
            <p> Selecione a avaliação que deseja corrigir. </p>
            </br>
            <form id="editar_avaliacao" method="post" action="/sap/corrigir_avaliacao/">
                {% csrf_token %}
                <select name="avaliacaoe" class="btn btn-default">

                    {% for d in avaliacao %}
                        <option value="{{ d.id }}">{{ d.nome }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-default" name="submit" value="Selecionar" />
            </form>

        {% endif %}
    {% endif %}
{% endblock body_block %}
