{% extends 'sap/base_professor.html' %}

{% block body_block %}
    {% if ultima %}
        <strong>Ultima questão salva:</strong>
        <p>{{ ultima }}</p>
    {% endif %}
    <h3 class="text-left text-info"> Criar questão de Verdadeiro ou Falso</h3>
    {% if falha %}
        {{ falha }}
    {% else %}
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-12">
                    <form role="form" id="questao_form" method="post" action="/sap/criar_verdadeiro_falso/" enctype="multipart/form-data">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ questaoform.professor }}
                            <label>
                                Enunciado:
                            </label> </br>
                            {{ questaoform.enunciado  }}
                            {{ questaoform.enunciado.errors }}
                            </br>

                             <label>
                                Imagem:
                            </label> </br>
                            {{ questaoform.imagem }}
                            {{ questaoform.imagem.errors }}
                            </br>

                            <label>
                                Resposta Correta:
                            </label> </br>
                            <select name="resposta_correta" >  </br>

                                <option value="V">Verdadeiro</option>
                                <option value="F">Falso</option>

                            </select> </br>

                            <label>
                                Selecione as disciplinas para as quais essa questão se aplica:
                            </label> </br>
                                {{ questaoform.disciplina }}
                                {{ questaoform.disciplina.errors }}

                            <input class="btn btn-default" type="submit" name="submit" value="Proxima" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock body_block %}