{% extends 'sap/base_professor.html' %}

{% block body_block %}
    <h3 class="text-left text-info">
        Criar avaliação</h3>
    {% if sucess %}
        {{ sucess }}
    {% elif data_invalida %}
        {{ data_invalida }}
     {% elif falha %}
        {{ falha }}
    {% elif disciplina %}
        {% if questoes_disciplina_professor %}
            <p> Selecione as questões que farão parte desta avaliação. </p>
        {% else %}
            <p> Não existem questões vinculadas a esta disciplina</p>
        {% endif %}

         </br>

        <form id="avaliacaoform" method="post" action="/sap/criar_avaliacao/" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                {{ avaliacaoform.as_table}}
            </table>

            <hr>
            {% for x in questoes_disciplina_professor %}
                <label>{{forloop.counter}}</label>
                <input id="checkbox{{forloop.counter}}" type="checkbox" name="questao" autocomplete="off" value={{ x.id }}> {{ x.enunciado }} - {{ x.tipo }} </br>
                <label style="display: none" id="peso{{forloop.counter}}" >Peso:</label>
                <input style="display: none" id="peso{{forloop.counter}}" min="0.1" max="100" step="0.1"  type="number" name="peso" autocomplete="off" value= "">
                <label style="display: none" id="ordem{{forloop.counter}}" >Ordem:</label>
                <input style="display: none" id="ordem{{forloop.counter}}" min="1" max="100" step="1" type="number" name="ordem" autocomplete="off" value= "">
                <script>
                    $( "#checkbox{{forloop.counter}}" ).change(function() {
                        if ($(this).is(":checked")) {
                            $("#peso{{forloop.counter}}, #ordem{{forloop.counter}} ")
                                    .show("slow").prop("disabled", false).attr('value', 1);
                            var t = false
                            $('#peso{{forloop.counter}}').focus(function () {
                                var $this = $(this)
                                t = setInterval(
                                        function () {
                                            if (($this.val() < 1 || $this.val() > 100) && $this.val().length != 0) {
                                                if ($this.val() < 1) {
                                                    $this.val(1)
                                                }
                                                if ($this.val() > 100) {
                                                    $this.val(100)
                                                }
                                                $('p').fadeIn(1000, function () {
                                                    $(this).fadeOut(500)
                                                })
                                            }
                                        }, 50)
                            })
                            window.onunload = function(){};
                            $('#peso{{forloop.counter}}').blur(function () {
                                if (t != false) {
                                    window.clearInterval(t)
                                    t = false;
                                }
                            })
                        }
                        else
                            $(  "#peso{{forloop.counter}}, #ordem{{forloop.counter}}" ).hide( "slow").attr('value', "").attr( "disabled", true);
                    });
                </script>
                <hr>
            {% endfor %}

            <input type="hidden" name= "questoes_disciplina_professor" value= {{ questoes_disciplina_professor }}>
            <input type="hidden" name= "disciplina" value= {{ disciplina }}>
            <input type="submit" class="btn btn-default" name="submit" value="Criar" />
        </form>


    {% else %}
        <form id="criar_avaliacao" method="post" action="/sap/criar_avaliacao/">
            {% csrf_token %}
            <p>Selecione a disciplina com as questões a serem aplicadas: </p></br>
            <select name="disciplinaescolhida"  class="btn btn-default">

                {% for d in disciplinaescolhida %}
                    <option value="{{ d.id }}">{{ d.nome }}</option>
                {% endfor %}
            </select>

            <input class="btn btn-default" type="submit" name="submit" value="Selecionar" />
        </form>

    {% endif %}
{% endblock body_block %}