
{% extends 'sap/base_professor.html' %}

{% block body_block %}
    {% if ultima %}
        <strong>Ultima questão salva:</strong>
        <p>{{ ultima }}</p>
    {% endif %}
    <h3 class="text-left text-info"> Criar questão dissertativa</h3>

    {% if falha %}
        {{ falha }}
    {% else %}
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-12">
                    <form role="form" id="questao_form" method="post" action="/sap/criar_dissertativa/" enctype="multipart/form-data">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ questaoform.professor }}

                            <label>
                                Enunciado:
                            </label> </br>
                            {{ questaoform.enunciado }}
                            {{ questaoform.enunciado.errors }}
                            </br>

                            <label>
                                Resposta:
                            </label> </br>
                            {{ questaoform.resposta_correta }}
                            {{ questaoform.resposta_correta.errors }}
                            </br>

                            <label>
                                Imagem:
                            </label> </br>
                            {{ questaoform.imagem }}
                            {{ questaoform.imagem.errors }}
                            </br>
                            <label>
                                Selecione as disciplinas para as quais essa questão se aplica:
                            </label> </br>
                                {{ questaoform.disciplina }}
                                {{ questaoform.disciplina.errors }}

                            <input class="btn btn-default" type="submit" name="submit" value="Proxima" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}