{% extends 'sap/base_professor.html' %}
{% block body_block %}
    <h3 class="text-left text-info">
        Editar avaliação</h3>
    {% if falha %}
        {{ falha }}
    {% else %}

        {% if avaliacao_escolhida %}
            <strong>O que deseja fazer?</strong>
            <li>
                <a href="/sap/adicionar_remover_pergunta/{{ avaliacao_escolhida }}">Adicionar ou remover perguntas</a>
            </li>
            <li>
                <a href="/sap/alterar_dados_avaliacao/{{ avaliacao_escolhida }}">Alterar dados da avaliação</a>
            </li>

        {% else %}
            <p> Selecione a avaliação que deseja editar. </p>
            </br>
            <form id="editar_avaliacao" method="post" action="/sap/editar_avaliacao/">
                {% csrf_token %}
                <select name="avaliacaoe" class="btn btn-default">
                    {% for d in avaliacao %}
                        <option value="{{ d.id }}">{{ d.nome }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-default" name="submit" value="Selecionar" />
            </form>

        {% endif %}
    {% endif %}
{% endblock body_block %}

