{% extends 'sap/base_professor.html' %}

{% block body_block %}

    <h3 class="text-left text-info">
        Editar questão</h3>

    {% if sucess %}
        {{ sucess }}

    {% elif falha %}
        {{ falha }}

    {% elif dissertativa %}
        <form id="formdissertativa" method="post" action="/sap/editar_questao" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="id_professor" name="professor" type="hidden" value={{ request.user.id }}>
            <label> Enunciado:</label> <br>
            <textarea cols="40" id="id_enunciado" name="enunciado" rows="10">{{ dissertativa.enunciado }}</textarea>
            <br>
            <label>
                Resposta:
            </label> <br>
            <textarea cols="40" id="id_resposta_correta" name="resposta_correta" rows="10">{{ dissertativa.resposta_correta }}</textarea>
            <br>
            <label> Imagem: </label><br>
            <input id="id_imagem" name="imagem" type="file"> <br>
            {% if dissertativa.imagem %}
                <img src="/media/{{ dissertativa.imagem }}"  />
                <br><br>
                <input type="submit" class="btn btn-default" name="deletar" value="Deletar" /> <br>
                <br>
            {% endif %}
            <label>
                Selecione as disciplinas para as quais essa questão se aplica:
            </label> <br>
            {% for d in diciplinas_questao %}
                <input id="checkbox{{forloop.counter}}" type="checkbox" name="disciplina" autocomplete="off" checked value={{ d.id }}> {{ d.nome }} </br>
            {% endfor %}

            {% for d in disciplinas_n_questao %}
                <input id="checkbox{{forloop.counter}}" type="checkbox" name="disciplina" autocomplete="off" value={{ d.id }}> {{ d.nome }} </br>
            {% endfor %}
            </br>
            <input type="hidden" name="{{ dissertativa.tipo }}" value="{{ dissertativa.tipo }}">
            <input type="hidden" name="questaon" value="{{ dissertativa.id }}">
            <input type="submit" class="btn btn-default" name="submit" value="Alterar" />
        </form>

    {% elif multipla_escolha %}
        <form id="formmultipla_escolha" method="post" action="/sap/editar_questao/" enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}
                <input id="id_professor" name="professor" type="hidden" value="0" />
                <label> Enunciado: </label> </br>

                <textarea cols="40" id="id_enunciado" maxlength="5000" name="enunciado" rows="10">{{ multipla_escolha.enunciado }}</textarea>
                </br>

                <label> A: </label> </br>
                <textarea cols="40" id="id_a" name="a" rows="10">{{ multipla_escolha.a }}</textarea>

                </br>
                <label> B: </label> </br>
                <textarea cols="40" id="id_b" name="b" rows="10">{{ multipla_escolha.b }}</textarea>

                </br>
                <label> C: </label> </br>
                <textarea cols="40" id="id_c" name="c" rows="10">{{ multipla_escolha.c }}</textarea>

                </br>
                <label> D: </label> </br>
                <textarea cols="40" id="id_d" name="d" rows="10">{{ multipla_escolha.d }}</textarea>

                </br>
                <label> E: </label> </br>
                <textarea cols="40" id="id_e" name="e" rows="10">{{ multipla_escolha.e }}</textarea>

                </br>
                <label>
                    Resposta Correta
                </label> </br>
                <select name="resposta_correta" value="{{ multipla_escolha.resposta_correta }}"></br>

                    <option value="A" {% if multipla_escolha.resposta_correta == 'A' %} selected {% endif %}>A</option>
                    <option value="B" {% if multipla_escolha.resposta_correta == 'B' %} selected {% endif %}>B</option>
                    <option value="C" {% if multipla_escolha.resposta_correta == 'C' %} selected {% endif %}>C</option>
                    <option value="D" {% if multipla_escolha.resposta_correta == 'D' %} selected {% endif %}>D</option>
                    <option value="E" {% if multipla_escolha.resposta_correta == 'E' %} selected {% endif %}>E</option>

                </select> </br>
                <label> Imagem: </label><br>
                <input id="id_imagem" name="imagem" type="file"> <br>
                {% if multipla_escolha.imagem %}
                    <p>Imagem atual:</p>
                    <img src="/media/{{ multipla_escolha.imagem }}"  />
                    <br><br>
                    <input type="submit" class="btn btn-default" name="deletar" value="Deletar" /> <br>
                {% endif %}
                <label>
                    Selecione as disciplinas para as quais essa questão se aplica:
                </label> </br>
                {% for d in diciplinas_questao %}
                    <input id="checkbox{{forloop.counter}}" type="checkbox" name="disciplina" autocomplete="off" checked value={{ d.id }}> {{ d.nome }} </br>
                {% endfor %}

                {% for d in disciplinas_n_questao %}
                    <input id="checkbox{{forloop.counter}}" type="checkbox" name="disciplina" autocomplete="off" value={{ d.id }}> {{ d.nome }} </br>
                {% endfor %}
                </br>

                <input type="hidden" name="{{ multipla_escolha.tipo }}" value="{{ dissertativa.tipo }}">
                <input type="hidden" name="questaon" value="{{ multipla_escolha.id }}">
                <input type="submit" class="btn btn-default" name="submit" value="Alterar" />
            </div>
        </form>

    {% elif questoes %}
        <p>Selecione a questão:</p>
        </br>
        <form id="alterar_dados_avaliacao" method="post" action="/sap/editar_questao">
            {% csrf_token %}
                {% for d in questoes %}
                      <input type="radio" name="questao" value="{{ d.id }}" checked> {{ d.enunciado}} - {{ d.tipo }} <hr>
                {% endfor %}
            <input type="submit" class="btn btn-default" name="submit" value="Selecionar" />
        </form>

    {% else %}
        <p> Selecione a disciplina que deseja editar. </p>
        </br>
        <form id="editar_questao" method="post" action="/sap/editar_questao/">
            {% csrf_token %}
            <select name="disciplina" class="btn btn-default">
                {% for d in disciplina %}
                    <option value="{{ d.id }}">{{ d.nome}}</option>
                {% endfor %}
            </select>
            <input type="submit" class="btn btn-default" name="submit" value="Selecionar" />
        </form>

    {% endif %}

{% endblock body_block %}
