{% extends 'sap/base_professor.html' %}

{% block body_block %}
    <h3 class="text-left text-info">Excluir questão</h3>
    {% if sucess %}
        {{ sucess }}
    {% elif falha %}
        {{ falha }}
    {% elif questoes_disciplina_professor %}
        <p> Selecione a questão que deseja excluir. </p>
        </br>
{#        <form id="excluir_questao" method="post" action="/sap/excluir_questao/">#}
{#            {% csrf_token %}#}
{#            <select name="questao" class="btn btn-default">#}
{#                {% for x in questoes_disciplina_professor %}#}
{#                    <option value="{{ x.id }}"> {{ x.enunciado }} </option></br>#}
{#                {% endfor %}#}
{#                </br>#}
{#            </select>#}
{#            <input type="submit" class="btn btn-default" name="submit" value="Selecionar" />#}
{#        </form>#}

        <form id="alterar_dados_avaliacao" method="post" action="/sap/excluir_questao">
            {% csrf_token %}
                {% for x in questoes_disciplina_professor %}
                      <input type="radio" name="questao" value="{{ x.id }}"> {{ x.enunciado}} - {{ x.tipo }} <hr>
                {% endfor %}
            <input type="submit" class="btn btn-default" name="submit" value="Selecionar" />
        </form>

    {% else %}
        <p> Selecione a disciplina da questão. </p>
        </br>
        <form id="selecionar_disciplina" method="post" action="/sap/excluir_questao/">
            {% csrf_token %}
            <select name="disciplina" class="btn btn-default">

                {% for d in disciplina %}
                    <option value="{{ d.id }}">{{ d.nome }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="btn btn-default" name="submit" value="Selecionar" />
        </form>
    {% endif %}
{% endblock body_block %}