{% extends 'sap/base_professor.html' %}

{% block body_block %}
    <h3 class="text-left text-info">Excluir avaliação</h3>
    {% if sucess %}
        {{ sucess }}
    {% elif falha %}
        {{ falha }}
    {% else %}
        <p> Selecione a avaliação que deseja excluir. </p>
        </br>
        <form id="excluir_avaliacao" method="post" action="/sap/excluir_avaliacao/">
            {% csrf_token %}
            <select name="avaliacao" class="btn btn-default">
                {% for d in avaliacao %}
                    <option value="{{ d.id }}">{{ d.nome }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="btn btn-default" name="submit" value="excluir" />
        </form>
    {% endif %}
{% endblock body_block %}