{#<!DOCTYPE html>#}
{#{% load static %}#}
{#<html>#}
{##}
{#    <head>#}
{#        <title>Sap</title>#}
{#    </head>#}
{##}
{#    <body>#}

{% extends 'sap/base_professor.html' %}

{% block body_block %}
{#    <h3 class="text-left text-info">#}
{#    Professor</h3>#}
    {{ navegador }}
{% endblock body_block %}

{#</html>#}