<!DOCTYPE html>

{% load staticfiles %}



<script src="{% static "js/jquery-1.11.3.js" %}"></script>
<script src="{% static "js/rango-ajax.js" %}"></script>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" ="">

    <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%  static 'css/dashboard.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href="/sap/index_aluno/">Home </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Recuperar senha</a></li>
                {% if navegador %}
                    <li><a href="/sap/sair_safeexam" class="nav nav-list">Sair do Safe Exam Browser</a></li>
                {% endif %}



            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="centered text-center">
            <div>
                </br>
                </br>
                </br>
                </br>
                <title>Login</title>

                <body>
                <h1>Bem vindo ao SAPU!</h1>
                </br>
                </br>
                </br>
                </br>
                <strong>Insira seu login e senha</strong>

                <form id="login_form" method="post" action="/sap/login/">
                    {% csrf_token %}
                    Nome: <input type="text" name="username" value="" size="50" />
                    <br />
                    Senha: <input type="password" name="password" value="" size="50" />
                    <br />

                    <input type="submit" value="Login" />
                </form>



                {% if falha %}
                    {{ falha }}
                {% endif %}

                </body>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>





