{% extends 'sap/base_aluno.html' %}
{% load index %}
{% block body_block %}
    <h3 class="text-left text-info">Notas</h3>

    {% if nota or nota == 0 %}
        Esta é a sua nota no momento: {{ nota }}
        </br><a href="/sap/index_aluno/">Retornar a pagina principal</a><br/>
    {% elif restrito %}
        {{ restrito }}

    {% elif respostas_aluno %}
        <label>Avaliação:</label> {{ avaliacao }} <br>
        <label>Aluno:</label>{{ aluno }}<br>
        <label>Nota final:</label>{{ nota_final }}<br>

        <hr>
        {% for d in avaliacao_questao %}
            {% if d.questao.tipo_id == 1 %}
                <label> {{ forloop.counter }} </label>
                {{ d }} </br>
                {% if d.questao.imagem %}
                    <label>Imagem: </label> </br>
                    <img src="/media/{{ d.questao.imagem }}"  /> </br>
                {% endif %}
                <label>Resposta correta: </label> </br>
                {{ d.questao.resposta_correta }}<br>
                <label>Resposta do aluno: </label><br>
                {{ respostas_aluno|index:forloop.counter0  }}<br>
                <label>Peso: </label>
                {{ d.peso }} -
                <label>Pontuação: </label>{{ respostas_aluno_pontuacao|index:forloop.counter0  }}

            {% elif d.questao.tipo_id == 2 %}
                <label> {{ forloop.counter }} </label> {{ d }} </br>
                {% if d.questao.imagem %}
                    <label>Imagem: </label> </br>
                    <img src="/media/{{ d.questao.imagem }}"  /> </br>
                {% endif %}
                <label> A: </label> {{ d.questao.a }} <br>
                <label> B: </label> {{ d.questao.b }}<br>
                <label> C: </label> {{ d.questao.c }}<br>
                <label> D: </label> {{ d.questao.d }}<br>
                <label> E: </label> {{ d.questao.e }}<br>
                <label>Resposta correta: </label> {{ d.questao.resposta_correta }}<br>
                <label>Resposta do aluno: </label> {{ respostas_aluno|index:forloop.counter0  }}<br>
                <label>Peso: </label> {{ d.peso }} -
                <label>Pontuação: </label>{{ respostas_aluno_pontuacao|index:forloop.counter0  }}

            {% elif d.questao.tipo_id == 3 %}
                <label> {{ forloop.counter }} </label> {{ d }} </br>
                {% if d.questao.imagem %}
                    <label>Imagem: </label> </br>
                    <img src="/media/{{ d.questao.imagem }}"  /> </br>
                {% endif %}
                <label>Resposta correta: </label> {{ d.questao.resposta_correta }}<br>
                <label>Resposta do aluno: </label> {{ respostas_aluno|index:forloop.counter0  }}<br>
                <label>Peso: </label> {{ d.peso }} -
                <label>Pontuação: </label>{{ respostas_aluno_pontuacao|index:forloop.counter0  }}
            {% endif %}
            <hr>
        {% endfor %}



    {% elif avaliacao %}
        <form id="alterar_avaliacao" method="post" action="/sap/notas/">
        {% csrf_token %}
        <table class="table table-bordered" >
            <thead>
            <tr>
                <td style="width:30px"><label></label></td>
                <td><label>Aluno</label></td>
                <td><label>Resultado</label></td>
                <td><label>Data</label></td>
            </tr>
            </thead>
            {% for v in avaliacao %}
                <tr>
                    <td><input type="radio" name="avaliacao" value="{{ v.avaliacao_id }}"></td>
                    <td>{{ v.avaliacao }}</td>
                    <td>{{ v.nota_final }}</td>
                    <td>{{ v.data_hora }}</td>
                </tr>
            {% endfor %}
        </table>

        <input type="hidden" name= "aluno" value= {{ request.user.id }}>
        <input type="submit" name="submit" value="Selecionar" class="btn btn-default"/>
    {% else %}
        Você ainda não respondeu nenhuma avaliação.



    {% endif %}
{% endblock body_block %}