{% extends 'sap/base_aluno.html' %}

{% block body_block %}
    <h3 class="text-left text-info">Realizar avaliação</h3>
    {% if falha %}
        {{ falha }}

    {% else %}
        <p> Avaliações disponiveis </p>

        <form id="realizar_avaliacao" method="post" action="/sap/realizar_avaliacao/">
        {% csrf_token %}

        {% for d in avaliacao %}

            <input type="radio" name="avaliacao" value="{{ d.id }}"> {{ d.nome}} </br></br>
            <label>Disciplina: </label> {{ d.disciplina }} <br>
            <label> Periodo: </label>
            <p>Inicio: {{ d.data_hora_inicio }}</p>
            <p>Fim: {{ d.data_hora_fim }}</p>
            {% if d.SafeExamBrowser == True %}
                <p> Possui restrição: Sim</p>
            {% else %}
                <p> Possui restrição: Não</p>
            {% endif %}
            <hr>
        {% endfor %}

        <p>Senha:</p>  <input type="password" name="senha">
        <input type="submit" name="submit" value="Iniciar" />
    {% endif %}

{#{% if questoes %}#}
{#    {% for questao in questoes %}#}
{#        {{ questao }} </br>#}
{#    {% endfor %}#}
{#{% endif %}#}
</form>

{% endblock body_block %}
