{% extends 'sap/base_professor.html' %}

{% block body_block %}
    <h3 class="text-left text-info" xmlns="http://www.w3.org/1999/html">
        Reaplicar avaliação</h3>
    {% if sucess %}
        {{ sucess }}
    {% elif falha1 %}
        {{ falha1 }}
    {% else %}
        {% if forminvalido %}
            {{ forminvalido }}
        {%  elif falha %}
            {{ falha }}
        {% else %}
            <form id="reaplicar_avaliacao" method="post" action="/sap/reaplicar_avaliacao/" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Selecione a avaliação que deseja reaplicar</p> </br>
                <select name="avaliacao" class="btn btn-default">
                    {% for d in avaliacao %}
                        <option value="{{ d.id }}">{{ d.nome }}</option>
                    {% endfor %}
                </select>
                </br>
                <hr>
                <p> Determine os novos dados desta avaliação: </p>
                <table class="table th">
                    {{ form.as_table}}
                </table>
                </br>
                <input type="submit" class="btn btn-default" name="submit" value="Reaplicar" />
            </form>


        {% endif %}
    {% endif %}
{% endblock body_block %}

{#Codigo para alinhar os campos do formulario#}
{#        <table >#}
{#            {% for d in form %}#}
{#                <tbody>#}
{#                <tr>#}
{#                    <td>#}
{#                        <label for="{{ d.label }}" style="display:inline-block;vertical-align:middle">{{ d.label_tag }}</label>#}
{#                    </td>#}
{#                    <td>#}
{#                        {{ d }}#}
{#                    </td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}