<!DOCTYPE html>
<html>
    <head>
        <title>SAPU</title>
    </head>

    <body>
        <h1>Registrar Professor</h1>

        {% if registered %}
         <strong>Obrigado por registrar-se!</strong>
        <a href="/sap/">Voltar para homepage.</a><br />
        {% else %}
        <strong>Professor</strong><br />

        <form id="user_form" method="post" action="/sap/register_professores/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}

            <input type="submit" name="submit" value="Registrar" />
        </form>
        {% endif %}
    </body>
</html>