<!DOCTYPE html>
<html>
    <head>
        <title>SAPU</title>
    </head>

    <body>
        <h1>Registrar coordenador</h1>

        {% if registered %}
         <strong>Obrigado por registrar-se!</strong>
        <a href="/sap/">Voltar para homepage.</a><br />
        {% else %}
        <strong>Registre aqui</strong><br />

        <form id="user_form" method="post" action="/sap/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}



            <h2>Grupos</h2>
   <!--     Selecione o grupo o qual o usuario pertence-ra <br/>
        {% if groups %}
            <select name="dropdown">
            {% for group in groups %}
                <option value="{{ group.name }}">{{ group.name }}</option>
            {% endfor %}
            </select>
        {% else %}
        <strong>There are no categories present.</strong>
        {% endif %} -->

            <input type="submit" name="submit" value="Registrar" />
        </form>
        {% endif %}
    </body>
</html>