{% extends 'sap/base_professor.html' %}
{% load index %}

{% block body_block %}
    <h3 class="text-left text-info">
        Relatórios</h3>
    {% if falha1 %}
        {{ falha1 }}
    {% else %}
        {% if falha %}
            {{ falha }}
        {% elif respostas_aluno %}
            <label> Avaliacao:</label> {{ avaliacao }} <br>
            <label>Aluno:</label>{{ aluno }}<br>

            <hr>
            {% for d in avaliacao_questao %}
                {% if d.questao.tipo_id == 1 %}
                    <label> {{ forloop.counter }} </label>
                    {{ d }} </br>
                    {% if d.questao.imagem %}
                        <label>Imagem: </label> </br>
                        <img src="/media/{{ d.questao.imagem }}"  /> </br>
                    {% endif %}
                    <label>Resposta correta: </label> </br>
                    {{ d.questao.resposta_correta }}<br>
                    <label>Resposta do aluno: </label><br>
                    {{ respostas_aluno|index:forloop.counter0  }}<br>
                    <label>Peso: </label>
                    {{ d.peso }} -
                    <label>Pontuação: </label>{{ respostas_aluno_pontuacao|index:forloop.counter0  }}

                {% elif d.questao.tipo_id == 2 %}
                    <label> {{ forloop.counter }} </label> {{ d }} </br>
                    {% if d.questao.imagem %}
                        <label>Imagem: </label> </br>
                        <img src="/media/{{ d.questao.imagem }}"  /> </br>
                    {% endif %}
                    <label> A: </label> {{ d.questao.a }} <br>
                    <label> B: </label> {{ d.questao.b }}<br>
                    <label> C: </label> {{ d.questao.c }}<br>
                    <label> D: </label> {{ d.questao.d }}<br>
                    <label> E: </label> {{ d.questao.e }}<br>
                    <label>Resposta correta: </label> {{ d.questao.resposta_correta }}<br>
                    <label>Resposta do aluno: </label> {{ respostas_aluno|index:forloop.counter0  }}<br>
                    <label>Peso: </label> {{ d.peso }} -
                    <label>Pontuação: </label>{{ respostas_aluno_pontuacao|index:forloop.counter0  }}

                {% elif d.questao.tipo_id == 3 %}
                    <label> {{ forloop.counter }} </label> {{ d }} </br>
                    {% if d.questao.imagem %}
                        <label>Imagem: </label> </br>
                        <img src="/media/{{ d.questao.imagem }}"  /> </br>
                    {% endif %}
                    <label>Resposta correta: </label> {{ d.questao.resposta_correta }}<br>
                    <label>Resposta do aluno: </label> {{ respostas_aluno|index:forloop.counter0  }}<br>
                    <label>Peso: </label> {{ d.peso }} -
                    <label>Pontuação: </label>{{ respostas_aluno_pontuacao|index:forloop.counter0  }}

                {% endif %}
                <hr>
            {% endfor %}

        {% elif notas %}

            <form id="alterar_avaliacao" method="post" action="/sap/relatorio_professor/">
                {% csrf_token %}
                <label>Avaliação:</label> {{ avaliacao.nome }} </br>
                <table class="table table-bordered" >
                    <thead>
                    <tr>
                        <td style="width:30px"><label></label></td>
                        <td><label>Aluno</label></td>
                        <td><label>Resultado</label></td>
                        <td><label>Data</label></td>
                    </tr>
                    </thead>
                    {% for v in notas %}
                        <tr>
                            <td><input type="radio" name="aluno" value="{{ v.aluno_id }}"></td>
                            <td>{{ v.aluno }}</td>
                            <td>{{ v.nota_final }}</td>
                            <td>{{ v.data_hora }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="hidden" name= "avaliacao" value= {{ avaliacao.id }}>
                <input type="submit" name="submit" value="Selecionar" class="btn btn-default"/>

            </form>

        {% else %}
            <p>Selecione a avaliação: </p></br>
            <form id="relatorio_avaliacao" method="post" action="/sap/relatorio_professor/">
                {% csrf_token %}
                <select name="avaliacao" class="btn btn-default">
                    {% for d in avaliacao %}
                        <option value="{{ d.id }}">{{ d.nome }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="submit" value="Selecionar" class="btn btn-default"/>
            </form>
        {% endif %}
    {% endif %}
{% endblock body_block %}
