{% extends 'sap/base_professor.html' %}

{% block body_block %}

        <h3 class="text-left text-info">
        Avaliação </h3>
    {% if falha1 %}
        {{ falha1 }}
    {% else %}
        {% if falha %}
            {{ falha }}

        {% elif questoes %}

            <form id="alterar_avaliacao" method="post" action="/sap/visualizar_gabarito/">
                {% csrf_token %}
                <h4>{{ avaliacao }}</h4>
                <label>Inicio: </label> {{ avaliacao.data_hora_inicio }} - <label>Fim:</label> {{ avaliacao.data_hora_fim }}<br>
                <label>Disciplina:</label> {{ avaliacao.disciplina }} - <label>Professor:</label> {{ avaliacao.professor }} - <label>Senha:</label> {{ avaliacao.senha }}<br>
                {% if avaliacao.imagem %}
                    <img src="/media/{{ avaliacao.imagem }}"  /><br>
                {% endif %}
                <h5>Questões:</h5>
                <hr>
                {% for v in questoes %}
                    {% if v.tipo_id == 1 %}
                        <label> {{ forloop.counter }}-</label>
                        {{ v.enunciado }}<br>
                        {% if v.imagem %}
                            <img src="/media/{{ v.imagem }}"  /><br>
                        {% endif %}

                        <label> R: </label> {{ v.resposta_correta }}
                        <br>
                        <br>
                    {% elif v.tipo_id == 2 %}
                        <label> {{ forloop.counter }}- </label>
                        {{ v.enunciado }}<br>
                        {% if v.imagem %}
                            <img src="/media/{{ v.imagem }}"  /><br>
                        {% endif %}

                        <label> A- </label> {{ v.a }}<br>
                        <label> B- </label> {{ v.b }}<br>
                        <label> C- </label> {{ v.c }}<br>
                        <label> D- </label> {{ v.d }}<br>
                        <label> E- </label> {{ v.e }}<br>
                        <label> R: </label> {{ v.resposta_correta }}
                    {% endif %}
                    <hr>
                {% endfor %}
            </form>

        {% else %}
            <p>Selecione a avaliação: </p></br>
            <form id="relatorio_avaliacao" method="post" action="/sap/visualizar_gabarito/">
                {% csrf_token %}
                <select name="avaliacao" class="btn btn-default">
                    {% for d in avaliacao %}
                        <option value="{{ d.id }}">{{ d.nome }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="submit" value="Selecionar" class="btn btn-default"/>
            </form>
        {% endif %}
    {% endif %}
{% endblock body_block %}